.side-menu {
    width: 260px;
    padding: 10px;
    background-color: #202123;
  }
  
  .side-menu-btn {
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: left;
    transition: ease 0.25s all;
  }
  
  .side-menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .side-menu-btn span {
    padding-left: 6px;
    padding-right: 12px;
  }