.chat-box {
    flex: 1;
    background-color: #343541;
    position: relative;
  }
  
  .chat-input-holder {
    padding: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    size: 90%;
  }
  
  .chat-input-textarea {
    background-color: #40414f;
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 1.25em;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }
  
  .chat-log {
  
    text-align: left;
  }
  
  .chat-message {
  
  }
  
  .chat-message.chatgpt {
    background-color: #444654;
  }
  
  .chat-message-center {
    display: flex;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
   
  }
  
  .avatar {
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .avatar.chatgpt {
    background: #0da37f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .message {
    padding-left: 40px;
    padding-right: 40px;
  }